 ###> symfony/framework-bundle ###
/.env
/htdocs/public/bundles/
/htdocs/var/
/htdocs/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/htdocs/.phpunit
/htdocs/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/htdocs/.web-server-pid
###< symfony/web-server-bundle ###

/htdocs/node_modules

.idea/

/htdocs/config/config.yaml

/nbproject/private/
/node_modules/
